-
  const site = {
    lang: 'ru',
    title: {
      ru: '_Project',
      en: '_Project',
    },
    shortName: '_Project',
    description: '_project tagline',
    url: "https://www._project.tld",
    slag: "_project",
    baseUrl: '/',
    img: '/images/_project/_project.png',
    icons: {
      favicon: '/images/_project/base/graphics/favicon.ico',
      svg: '/images/_project/base/graphics/icon.svg',
      appleTouch: '/images/_project/base/graphics/icon.png',
    },
    color: '#f00',
    fonts: {
      google: 'Inter:wght@300;400;600',
      local: ['/fonts/_project/SFPD-Semibold']
    },
    social: {
      facebook: '_project'
    }
  }

- const currentYear = new Date().getFullYear();
