<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4R6SM7" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<a id="top"></a>
<header class="header">
	<div class="container header__wrapper">
		<a class="header__logo" href="/">
			<img src="/wp-content/themes/polylog/img/base/graphics/logo/polylog-logo.svg" width="143" height="40" alt="Логотип Polylog">
		</a>
		<div class="header__nav">
			<button class="header__toggle" type="button">
				<span></span>
			</button>
			<div class="header__menu">
				<div class="header__menu-top">
					<button class="header__menu-close" type="button"></button>
				</div>

        <button class="btn is-search-toggler" id="global-search-toggler" type="button" aria-hidden="true">
          <svg class="icon" width="24" height="24" viewbox="0 0 24 24" focusable="false" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="var(--icon-stroke)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>

				<form class="search-form form" action="http://polylog.local/" role="search" method="get" novalidate="">
					<label class="sr-only" for="search-form-2">Поиск…</label>
					<input class="form__input" id="search-form-2" type="search" name="s" autocomplete="off" placeholder="Поиск…">
					<button class="btn" type="submit" aria-label="Search">
          	<svg class="icon" focusable="false" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="var(--icon-stroke)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
					</button>
				</form>

				<ul id="menu-glavnoe-menyu" class="header__menu-list">
					<li class="header__menu-item">
						<a href="/pr/" class="header__menu-link">Услуги</a>
					</li>
					<li class="header__menu-item">
						<a href="/cases/" class="header__menu-link">Кейсы</a>
					</li>
					<li class="header__menu-item">
						<a href="https://polylog.ru/agency" class="header__menu-link">Команда</a>
					</li>
					<li class="header__menu-item">
						<a href="/vakansii" class="header__menu-link">Карьера</a>
						<ul class="sub-menu">
							<li class="header__menu-item">
								<a href="https://polylog.ru/stazhirovka" class="header__menu-link">Стажировка</a>
							</li>
							<li class="header__menu-item">
								<a href="https://polylog.ru/vakansii" class="header__menu-link">Вакансии</a>
							</li>
						</ul>
					</li>
					<li class="header__menu-item">
						<a href="https://polylog.ru/pr-blog" class="header__menu-link">Блог</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
