.empty-state {
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity $duration-sm $easing-base;
  visibility: hidden;
  height: 0;

  &.is-visible {
    height: auto;
  }

  > p {
    font-size: var(--font-size-big);
    line-height: var(--line-height-big);
    padding-top: var(--padding-top-big);
    padding-bottom: var(--padding-bottom-big);
  }
}
